@{
}

<div class="alert alert-warning d-flex align-items-center">
    <i class="bi bi-info-circle me-2"></i>
    <p>
    Xin lỗi! Bạn không được cấp quyền để sử dụng chức năng này.
    </p>
    <p>
        Vui lòng liên hệ quản trị viên hệ thống nếu cần hỗ trợ thêm
    </p>
    <p class="text-center">
        <a ~herf=~/Home class="btn btn-primary">
           Quay về trang chủ
       </a>
    </p>
</div>
